.navbar{
    background-color: #005186;
    font-family: SansSerif;
    font-size: 13pt;
}

.navbar-brand{
    color:white
}

.nav-link:hover{
    color: #65ACD8;
}

.nav-link{
    color:white;
}
.navbar-brand{
    font-size: 15pt;
    font-family: Freestyle Script;
}

#img-bg{
    background-image: url(https://i.imgur.com/DnUWPqC.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    background-size: 90%;
}

.corDefundo{
    background-color: #f9f9f9;
}

.botaoEntrar{

}

.botaoCancelar{

}